<script>
    var usuario = function () {
    table = null;
    obj = null;
    var configurarDataTable = function () {
    table = $('table#table_usuario').DataTable({
    "pagingType": "simple_numbers",
    "language": {
    url: datatable_url
},
    columns: [
{data: 'id'},
{data: 'nombre'},
{data: 'apellido'},
{data: 'usuario'},
{data: 'activo'},
{data: 'acciones'}
    ]}
    );
}


    var edicion = function () {
    $('div.m-portlet').on('click', 'a.edicion', function (evento)
{
    evento.preventDefault();
    var link = $(this).attr('data-href');
    obj = $(this);
    $.ajax({
    type: 'get', //Se uso get pues segun los desarrolladores de yahoo es una mejoria en el rendimineto de las peticiones ajax
    dataType: 'html',
    url: link,
    beforeSend: function (data) {
    mApp.block("body", {overlayColor:"#000000",type:"loader",state:"success",message:window.loadingMessage});
},
    success: function (data) {
    if ($('div#basicmodal').html(data)) {
    configurarFormularioUsuario();
    $('div#basicmodal').modal('show');
    //VALIDANDO FORMULARIO DE REGISTRO DE USUARIO
    $("div#basicmodal form#usuario_new").validate({
        rules:{
            'usuario[nombre]': {required:true},
            'usuario[apellido]': {required:true},
            'usuario[facultad]': {required:true},
            'usuario[correo]': {required:true, email:true},
            'usuario[idrol][]': {required:true},
            'usuario[password][first]': {required:true},
            'usuario[password][second]': {required:true, equalTo: "#usuario_password_first"},
         }
    });
    validarEditUser();
}
},
    error: function ()
{
    //base.Error();
},
    complete: function () {
    mApp.unblock("body")
}
});
});
}
    var refrescar = function () {
    $('body').on('click', 'a#refrescar', function (evento){
    evento.preventDefault();
    var link = $(this).attr('href');
    obj = $(this);
    $.ajax({
    type: 'get', //Se uso get pues segun los desarrolladores de yahoo es una mejoria en el rendimineto de las peticiones ajax
    dataType: 'html',
    url: link,
    beforeSend: function (data) {
    mApp.block("body", {overlayColor:"#000000",type:"loader",state:"success",message:window.loadingMessage});
},
    success: function (data) {
    $('table#table').html(data);
    table.destroy();
    configurarDataTable();
},
    error: function ()
{
    //base.Error();
},
    complete: function () {
    mApp.unblock("body")
}
});
});
}


    var newAction = function () {
    $('div#basicmodal').on('submit', 'form#usuario_new', function (evento)
{
    evento.preventDefault();
    var padre = $(this).parent();
    var l = Ladda.create(document.querySelector( '.ladda-button' ) );
    l.start();
    $.ajax({
    url: $(this).attr("action"),
    type: "POST",
    data: new FormData(this), //para enviar el formulario hay que serializarlo
    contentType: false,
    cache: false,
    processData:false,
    beforeSend: function () {
    //   base.blockUI({message: 'Cargando'});
},
    complete: function () {
    l.stop();
    //    mApp.unblock("body")
},
    success: function (data) {
    if (data['error']) {
    padre.html(data['form']);
    configurarFormularioUsuario();
} else {
    if (data['mensaje'])
    toastr.success(data['mensaje']);

    $('div#basicmodal').modal('hide');
    total += 1;
    var pagina = table.page();
    objeto = table.row.add({
    "id": total,
    "nombre": data['nombre'],
    "apellido": data['apellido'],
    "usuario": data['usuario'],
    "activo": "<span class='m-badge m-badge--wide m--font-boldest m-badge--"+data['badge_color']+"'>"+data['badge_texto']+"</span>",
    "acciones": "<ul class='nav nav-pills'><li class='nav-item m-tabs__item'><a class='btn btn-sm btn-default text-uppercase usuario_show' data-href=" + Routing.generate('usuario_show.'+_locale,{id:data['id']}) + "><i class='flaticon-eye'></i> {{ 'visualize'|trans }}</a></li><li class='nav-item m-tabs__item'><a class='btn btn-sm btn-info text-uppercase edicion' data-href=" + Routing.generate('usuario_edit.'+_locale,{id:data['id']}) + "><i class='flaticon-edit-1'></i>{{ 'edit'|trans }}</a></li><li class='nav-item m-tabs__item'><a class='btn btn-sm btn-danger text-uppercase eliminar_usuario' data-href=" + Routing.generate('usuario_delete.'+_locale,{id:data['id']}) + "><i class='flaticon-delete-1'></i>{{ 'delete'|trans }}</a></li></ul>",
});
    objeto.draw();
    table.page(pagina).draw('page');
}
},
    error: function ()
{
    //base.Error();
}
});
});
}

    var eliminar = function () {
    $('table#table_usuario').on('click', 'a.eliminar_usuario', function (evento)
{
    evento.preventDefault();
    var obj = $(this);
    var link = $(this).attr('data-href');

    bootbox.confirm({
    title: "{{ 'user_delete_title'|trans }}",
    message: "<p>{{ 'user_delete_message'|trans }}</p>",
    buttons: {
    confirm: {
    label: '{{ 'confirm_button'|trans }}',
    className: 'btn-sm btn-primary'
},
    cancel: {
    label: '{{ 'cancel_button'|trans }}',
    className: 'btn-sm btn-metal'
}
},
    callback: function (result) {
    if (result == true)
    $.ajax({
    type: 'get', //Se uso get pues segun los desarrolladores de yahoo es una mejoria en el rendimineto de las peticiones ajax
    // dataType: 'html', esta url se comentarea porque lo k estamos mandando es un json y no un html plano
    url: link,
    beforeSend: function () {
    mApp.block("body", {overlayColor:"#000000",type:"loader",state:"success",message:window.loadingMessage});
},
    complete: function () {
    mApp.unblock("body")
},
    success: function (data) {
    table.row(obj.parents('tr'))
    .remove()
    .draw('page');
    toastr.success(data['mensaje']);;
},
    error: function ()
{
    //base.Error();
}
});
}
});
});
}


    return {
    init: function () {
    $().ready(function () {
    configurarDataTable();
    refrescar();
    newAction();
    edicion();
    eliminar();
    gestionarFoto();
    reiniciarFoto();
}
    );
}
}
}();


</script>


