{{form_start(form,{'attr':{
    'id': form_id|default('reparacion_new'),
    'class': 'm-form m-form--state'
}})}}
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.fecha) }}
                </label>
                <div>
                    {{ form_widget(form.fecha) }}
                    {{ form_errors(form.fecha) }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.precio) }}
                </label>
                <div>
                    {{ form_widget(form.precio) }}
                    {{ form_errors(form.precio) }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.tiporeparacion) }}
                </label>
                <div>
                    {{ form_widget(form.tiporeparacion) }}
                    {{ form_errors(form.tiporeparacion) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row m--margin-top-20">
        <div class="col-md-12">
            <div class="form-group m-form__group">
                <label>
                    {{ form_label(form.descripcion) }}
                </label>
                <div>
                    {{ form_widget(form.descripcion) }}
                    {{ form_errors(form.descripcion) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-sm btn-metal" data-dismiss="modal"><i class="flaticon-cancel"></i> {{ 'cancel_button'|trans }}</a>
    <button class="btn btn-sm btn-primary  mt-ladda-btn ladda-button" data-style="expand-right" type="submit">
        <i class="flaticon-edit"></i>
        <span class="ladda-label">{{ action |default('save_button')|trans }}</span>
        <span class="ladda-spinner"></span>
    </button>
</div>
{{form_end(form)}}
