<table class="table table-hover" id="laboratoriotable">
    <thead>
    <tr>
        <th>{{ 'row_number' | trans }}</th>
        <th>{{ 'name_field' |trans }}</th>
        <th>{{ 'faculty' |trans }}</th>
        <th>{{ 'functioning_field'|trans }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% set i=1 %}
    {% for laboratorio in laboratorios %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ laboratorio.nombre }}</td>
            <td>{{ laboratorio.facultad }}</td>
            <td>{{ laboratorio.enfuncionamiento| trans | estado_color }}</td>
            <td>
                <ul class="nav nav-pills">
                    <li class="nav-item m-tabs__item">
                        <a class="btn btn-sm btn-default text-uppercase"
                           href="{{ path('laboratorio_show', { 'id': laboratorio.id }) }}">
                            <i class="flaticon-eye"></i>{{ 'visualize' |trans }}
                        </a>
                    </li>
                    {% if is_granted('ROLE_JEFETECNICO') %}
                    <li class="nav-item m-tabs__item">
                        <a class="btn btn-sm btn-info edicion text-uppercase"
                           data-href="{{ path('laboratorio_edit', { 'id': laboratorio.id }) }}">
                            <i class="flaticon-edit-1"></i>{{ 'edit' |trans }}
                        </a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_JEFETECNICOINSTITUCIONAL') %}
                        <li class="nav-item m-tabs__item">
                            <a class="btn btn-sm btn-danger text-uppercase eliminar_laboratorio"
                               data-href="{{ path('laboratorio_delete', { 'id': laboratorio.id }) }}">
                                <i class="flaticon-delete-1"></i>{{ 'delete' |trans }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </td>
        </tr>
        {% set i=1+i %}
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>{{ 'row_number' | trans }}</th>
        <th>{{ 'name_field' |trans }}</th>
        <th>{{ 'faculty' |trans }}</th>
        <th>{{ 'functioning_field'|trans }}</th>
        <th></th>
    </tr>
    </tfoot>
</table>
