<script>
    var laboratorio = function () {
    table = null;
    obj = null;

    var configurarFormulario = function () {
        $('select#laboratorio_facultad').select2({
            dropdownParent: $("#basicmodal"),
        //allowClear: true
        });
        //$('input#laboratorio_enfuncionamiento').bootstrapSwitch();
        $("div#basicmodal form").validate({
            rules:{
                'laboratorio[nombre]': {required:true},
                'laboratorio[facultad]': {required:true}
            }
        });
    }

    var configurarDataTable = function () {
        table = $('table#laboratoriotable').DataTable({
            "pagingType": "simple_numbers",
            "language": {
                url: datatable_url
            },
            columns: [
                {data: 'numero'},
                {data: 'nombre'},
                {data: 'facultad'},
                {data: 'enfuncionamiento'},
                {data: 'acciones'}
            ]}
        );
    }

    var edicion = function () {
        $('div.m-portlet').on('click', 'a.edicion', function (evento)
        {
            evento.preventDefault();
            var link = $(this).attr('data-href');
            obj = $(this);
            $.ajax({
            type: 'get', //Se uso get pues segun los desarrolladores de yahoo es una mejoria en el rendimineto de las peticiones ajax
            dataType: 'html',
            url: link,
            beforeSend: function (data) {
                mApp.block("body", {overlayColor:"#000000",type:"loader",state:"success",message:window.loadingMessage});
            },
            success: function (data) {
                if ($('div#basicmodal').html(data)){
                    configurarFormulario();
                    $('div#basicmodal').modal('show');
                }
            },
            error: function ()
            {
                //base.Error();
            },
            complete: function () {
                mApp.unblock("body")
            }
            });
        });
    }


    var refrescar = function () {
        $('a#refrescar').click(function (evento)
        {
            evento.preventDefault();
            var link = $(this).attr('href');
            obj = $(this);
            $.ajax({
            type: 'get', //Se uso get pues segun los desarrolladores de yahoo es una mejoria en el rendimineto de las peticiones ajax
            dataType: 'html',
            url: link,
            beforeSend: function (data) {
                mApp.block("body", {overlayColor:"#000000",type:"loader",state:"success",message:window.loadingMessage});
            },
            success: function (data) {
                $('table#laboratoriotable').html(data);
                table.destroy();
                configurarDataTable();
            },
            error: function ()
            {
                base.Error();
            },
            complete: function () {
                mApp.unblock("body")
            }
            });
        });
    }

    var newAction = function () {
        $('div#basicmodal').on('submit', 'form#laboratorio_new', function (evento)
        {
            evento.preventDefault();
            var padre = $(this).parent();
            var l = Ladda.create(document.querySelector( '.ladda-button' ) );
            l.start();
            $.ajax({
            url: $(this).attr("action"),
            type: "POST",
            data: $(this).serialize(), //para enviar el formulario hay que serializarlo
            beforeSend: function () {

            },
            complete: function () {
                l.stop();
            },
            success: function (data) {
                objantiguo = null;
                if (data['error']) {
                    padre.html(data['form']);
                    configurarFormulario();
                } else {
                    if (data['mensaje'])
                    toastr.success(data['mensaje']);

                    $('div#basicmodal').modal('hide');
                    total += 1;
                    var pagina = table.page();
                    objeto = table.row.add({
                    "numero": total,
                    "nombre": data['nombre'],
                    "facultad": data['facultad'],
                    "enfuncionamiento": "<span class='m-badge m-badge--wide m--font-boldest m-badge--"+data['badge_color']+"'>"+data['badge_texto']+"</span>",
                    "acciones": "<ul class='nav nav-pills'><li class='nav-item m-tabs__item'><a class='btn btn-sm btn-default' href="+ Routing.generate('laboratorio_show.'+_locale,{id:data['id']}) +"><i class='flaticon-eye'></i>{{ 'visualize'|trans }}</a></li><li class='nav-item m-tabs__item'><a class='btn btn-sm btn-info edicion' data-href="+ Routing.generate('laboratorio_edit.'+_locale,{id:data['id']}) +"><i class='flaticon-edit-1'></i>{{ 'edit'|trans }}</a></li><li class='nav-item m-tabs__item'><a class='btn btn-sm btn-danger eliminar_laboratorio' data-href="+ Routing.generate('laboratorio_delete.'+_locale,{id:data['id']}) +"><i class='flaticon-delete-1'></i>{{ 'delete'|trans }}</a></li></ul>",
                });
                    objeto.draw();
                    table.page(pagina).draw('page');
                }
            },
            error: function ()
            {
                base.Error();
            }
        });
        });
    }



    var edicionAction = function () {
        $('div#basicmodal').on('submit', 'form#laboratorio_edit', function (evento)
        {
            evento.preventDefault();
            var padre = $(this).parent();
            var l = Ladda.create(document.querySelector( '.ladda-button' ) );
            l.start();
            $.ajax({
            url: $(this).attr("action"),
            type: "POST",
            data: $(this).serialize(), //para enviar el formulario hay que serializarlo
            beforeSend: function () {

            },
            complete: function () {
                l.stop();
            },
            success: function (data) {
                if (data['error']) {
                    padre.html(data['form']);
                    configurarFormulario();
                } else {
                    if (data['mensaje'])
                        toastr.success(data['mensaje']);

                    $('div#basicmodal').modal('hide');
                    var pagina = table.page();
                    obj.parents('tr').children('td:nth-child(2)').html(data['nombre']);
                    obj.parents('tr').children('td:nth-child(3)').html(data['facultad']);
                    obj.parents('tr').children('td:nth-child(4)').html("<span class='m-badge m-badge--wide m--font-boldest m-badge--"+data['badge_color']+"'>"+data['badge_texto']+"</span>");
                }
            },
            error: function ()
            {
                base.Error();
            }
            });
        });
    }

    var eliminar = function () {
        $('table#laboratoriotable').on('click', 'a.eliminar_laboratorio', function (evento)
        {
            evento.preventDefault();
            var obj = $(this);
            var link = $(this).attr('data-href');
            bootbox.confirm({
            title: "{{ 'laboratory_delete_title'|trans }}",
            message: "<p>{{ 'laboratory_delete_message'|trans }}</p>",
            buttons: {
                confirm: {
                    label: '{{ 'confirm_button'|trans }}',
                    className: 'btn btn-sm btn-primary'
                },
                cancel: {
                    label: '{{ 'cancel_button'|trans }}',
                    className: 'btn btn-sm btn-metal'
                }
            },
            callback: function (result) {
                if (result == true)
                    $.ajax({
                    type: 'get', //Se uso get pues segun los desarrolladores de yahoo es una mejoria en el rendimineto de las peticiones ajax
                    // dataType: 'html', esta url se comentarea porque lo k estamos mandando es un json y no un html plano
                    url: link,
                    beforeSend: function () {
                        mApp.block("body", {overlayColor:"#000000",type:"loader",state:"success",message:window.loadingMessage});
                    },
                    complete: function () {
                        mApp.unblock("body")
                    },
                    success: function (data) {
                        table.row(obj.parents('tr'))
                        .remove()
                        .draw('page');
                        toastr.success(data['mensaje']);;
                    },
                    error: function ()
                    {
                        base.Error();
                    }
                    });
            }
        });
        });
    }

    return {
        init: function () {
            $().ready(function () {
                configurarDataTable();
                refrescar();
                newAction();
                edicion();
                edicionAction();
                eliminar();
            });
        }
    }
}();

</script>


