<table class="table table-hover" id="pcstable">
    <thead>
    <tr>
        <th>{{ 'pc_name'|trans }}</th>
        <th>{{ 'mac_field'|trans }}</th>
        <th>{{ 'state_field'|trans }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for pc in pcs %}
        <tr>
            <td>{{ pc.numero }}</td>
            <td>{{ pc.mac }}</td>
            <td>{{ pc.getEstadoToString()|trans }}</td>
            <td>
                <ul class="nav nav-pills">
                    <li class="nav-item m-tabs__item">
                        <a class="btn btn-sm btn-default text-uppercase edicion"
                           data-href="{{ path('pc_show', { 'id': pc.id }) }}">
                            <i class="flaticon-eye"></i>{{ 'visualize' |trans }}
                        </a>
                    </li>
                    {% if is_granted('ROLE_JEFETECNICO') %}
                        <li class="nav-item m-tabs__item">
                            <a class="btn btn-sm btn-danger text-uppercase eliminar_pc"
                               data-href="{{ path('pc_delete', { 'id': pc.id }) }}">
                                <i class="flaticon-delete-1"></i>{{ 'delete' |trans }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>{{ 'pc_name'|trans }}</th>
        <th>{{ 'mac_field'|trans }}</th>
        <th>{{ 'state_field'|trans }}</th>
        <th></th>
    </tr>
    </tfoot>
</table>
