{% extends is_granted('IS_AUTHENTICATED_FULLY') ? 'layout/autenticado.html.twig':  'layout/anonimo.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/page/estatica.css','milab') }}"/>
{% endblock stylesheets %}
{% block body %}
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        {{ 'account_management'| trans }}
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <h4>{{ 'accountmanagement.section1_header'| trans({},'estatica') }}</h4>
            <div class="row">
                <div class="col-md-5">
                    <p>{{ 'accountmanagement.section1_explain'| trans({},'estatica') }}</p>
                </div>
                <div class="col-md-5">
                        <p><b>{{ 'accountmanagement.section1_details'| trans({},'estatica') }}</b></p>
                </div>
            </div>
            <div class="clearfix m--margin-top-20"></div>
            <h4>{{ 'accountmanagement.section2_header'| trans({},'estatica') }}</h4>
            <div class="row">

                <div class="col-md-5">
                    <p>{{ 'accountmanagement.section2_explain'| trans({},'estatica') }}</p>
                </div>
                <div class="col-md-5">
                        <p><b>{{ 'accountmanagement.section2_details'| trans({},'estatica') }}</b></p>
                </div>
            </div>
            <div class="clearfix m--margin-top-20"></div>
            <h4>{{ 'accountmanagement.section2_header'| trans({},'estatica') }}</h4>
            <div class="row">
                <div class="col-md-5">
                    <p>{{ 'accountmanagement.section3_explainp1'| trans({},'estatica') }}</p>
                    <p>{{ 'accountmanagement.section3_explainp2'| trans({},'estatica') }}</p>
                    <p>{{ 'accountmanagement.section3_explainp3'| trans({},'estatica') }}</p>
                </div>
                <div class="col-md-5">
                        <p><b>{{ 'accountmanagement.section3_details'| trans({},'estatica') }}</b></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}