{% extends is_granted('IS_AUTHENTICATED_FULLY') ? 'layout/autenticado.html.twig':  'layout/anonimo.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/page/estatica.css','milab') }}"/>
{% endblock stylesheets %}
{% block body %}
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        {{ 'services'| trans }}
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <h4>{{ 'services.section1_header'|trans({},'estatica') }}</h4>
            <div class="row">
                <div class="col-md-5">
                    <p>{{ 'services.section1_parragraph'|trans({},'estatica') }}</p>
                </div>
                <div class="col-md-5">
                    <p><b>{{ 'services.section1_details'|trans({},'estatica') }}</b></p>
                </div>
            </div>
            <div class="clearfix m--margin-top-40"></div>
            <h4>{{ 'services.section2_header'|trans({},'estatica') }}</h4>
            <div class="row">
                <div class="col-md-5">
                    <p>{{ 'services.section2_parragraph'|trans({},'estatica') }}</p>
                </div>
                <div class="col-md-5">
                    <p><b>{{ 'services.section2_details'|trans({},'estatica') }}</b></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}