{% extends is_granted('IS_AUTHENTICATED_FULLY') ? 'layout/autenticado.html.twig':  'layout/anonimo.html.twig'  %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/page/estatica.css','milab') }}"/>
{% endblock stylesheets %}
{% block body %}
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        {{ 'serviceterms'| trans }}
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <section class="enum">
                <h3>{{ 'serviceterms.section1.header'|trans({},'estatica') }}</h3>
                <h4>{{ 'serviceterms.section1.subsection1.header'|trans({},'estatica') }}</h4>
                <div class="row">
                    <div class="col-md-5">
                        <p >{{ 'serviceterms.section1.subsection1.parragraph'|trans({},'estatica') }}
                        </p>
                    </div>
                    <div class="col-md-5">
                            <p>
                                <b>
                                {{ 'serviceterms.section1.subsection1.details'|trans({},'estatica') }}
                                </b>
                            </p>
                    </div>
                </div>

                <h4>{{ 'serviceterms.section1.subsection2.header'|trans({},'estatica') }}</h4>
                <div class="row">
                    <div class="col-md-5">
                        <p>{{ 'serviceterms.section1.subsection2.parragraph'|trans({},'estatica') }}</p>
                    </div>
                </div>

                <h4>{{ 'serviceterms.section1.subsection3.header'|trans({},'estatica') }}</h4>
                <div class="row">
                    <div class="col-md-5">
                        <p>{{ 'serviceterms.section1.subsection3.parragraph'|trans({},'estatica') }}</p>
                        <p>{{ 'serviceterms.section1.subsection3.list'|trans({},'estatica') }}</p>
                    </div>
                    <div class="clearfix"></div>
                    <ul class="separated">
                        <li>{{ 'serviceterms.section1.subsection3.list.option1'|trans({},'estatica') }}</li>
                        <li>{{ 'serviceterms.section1.subsection3.list.option2'|trans({},'estatica') }}</li>
                        <li>{{ 'serviceterms.section1.subsection3.list.option3'|trans({},'estatica') }}</li>
                        <li>{{ 'serviceterms.section1.subsection3.list.option4'|trans({},'estatica') }}</li>
                        <li>{{ 'serviceterms.section1.subsection3.list.option5'|trans({},'estatica') }}</li>
                        <li>{{ 'serviceterms.section1.subsection3.list.option6'|trans({},'estatica') }}</li>
                    </ul>
                </div>
                <h4>{{ 'serviceterms.section1.subsection4.header'|trans({},'estatica') }}</h4>
                <div class="row">
                    <div class="col-md-5">
                        <p>
                            {{ 'serviceterms.section1.subsection4.parragraph1'|trans({},'estatica') }}
                        </p>
                        <p>
                            {{ 'serviceterms.section1.subsection4.parragraph2'|trans({},'estatica') }}
                        </p>
                    </div>
                </div>
            </section>
            <hr/>
            <section class="enum">
                <h3>{{ 'serviceterms.section2.header'|trans({},'estatica') }}</h3>
                <h4> {{ 'serviceterms.section2.subsection1.header'|trans({},'estatica') }}</h4>
                <div class="row">
                    <div class="col-md-5">
                        <p>
                            {{ 'serviceterms.section2.subsection1.parragraph1'|trans({},'estatica') }}
                        </p>
                        <p>
                            {{ 'serviceterms.section2.subsection1.parragraph2'|trans({},'estatica') }}
                        </p>
                    </div>
                    <div class="col-md-5">
                            <p><b>{{ 'serviceterms.section2.subsection1.details1'|trans({},'estatica') }}</b></p>
                            <p><b>{{ 'serviceterms.section2.subsection1.details2'|trans({},'estatica') }}</b></p>
                    </div>
                </div>
                <h4> {{ 'serviceterms.section2.subsection2.header'|trans({},'estatica') }}</h4>
                <div class="row">
                    <div class="col-md-5">
                        <p>
                            {{ 'serviceterms.section2.subsection2.parragraph'|trans({},'estatica') }}
                        </p>
                    </div>
                    <div class="col-md-5">
                            <p><b>{{ 'serviceterms.section2.subsection2.details'|trans({},'estatica') }}</b></p>
                    </div>
                </div>
            </section>
            <hr/>
            <section class="enum">
                <h3>{{ 'serviceterms.section3.header'|trans({},'estatica') }}</h3>
                <h4>{{ 'serviceterms.section3.subsection1.header'|trans({},'estatica') }}</h4>
                <div class="row">
                    <div class="col-md-5">
                        <p>{{ 'serviceterms.section3.subsection1.parragraph'|trans({},'estatica') }}</p>
                    </div>
                    <div class="col-md-5">
                            <p><b>{{ 'serviceterms.section3.subsection1.details'|trans({},'estatica') }}</b></p>
                    </div>
                </div>
                <h4>{{ 'serviceterms.section3.subsection2.header'|trans({},'estatica') }}</h4>
                <div class="row">

                    <div class="col-md-5">
                        <p>{{ 'serviceterms.section3.subsection2.parragraph'|trans({},'estatica') }}</p>
                    </div>
                    <div class="col-md-5">
                            <p><b>{{ 'serviceterms.section3.subsection2.details'|trans({},'estatica') }}</b></p>
                    </div>
                </div>
                <h4>{{ 'serviceterms.section3.subsection3.header'|trans({},'estatica') }}</h4>
                <div class="row">
                    <div class="col-md-5">
                        <p>{{ 'serviceterms.section3.subsection3.parragraph'|trans({},'estatica') }}</p>
                    </div>
                    <div class="col-md-5">
                            <p><b>{{ 'serviceterms.section3.subsection3.details'|trans({},'estatica') }}</b></p>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}