<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{ 'peripheral_details'|trans }}</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        </div>
        <div class="modal-body" id="modal-body">
            <table class="table">
                <tr>
                    <th>{{ 'name_field'|trans }}</th>
                    <td>{{ periferico.nombre }}</td>
                    <th>{{ 'type_field'|trans }}</th>
                    <td>{{ ('peripheral_type_'~periferico.tipo)|trans }}</td>
                </tr>
                <tr>
                    <th>{{ 'properties'|trans }}</th>
                    <td>
                        <ul>
                        {% for propiedad in periferico.idpropiedad %}
                            <li>{{ propiedad }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <th>{{ 'pieces'|trans }}</th>
                    <td>
                        <ul>
                            {% for pieza in periferico.idpieza %}
                                <li>{{ pieza }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <a class="btn btn-sm btn-primary" data-dismiss="modal">{{ 'close'|trans }}</a>
        </div>
    </div>
</div>