<table class="table table-hover" id="perifericotable">
    <thead>
    <tr>
        <th>{{ 'row_number' | trans }}</th>
        <th>{{ 'name_field' |trans }}</th>
        <th>{{ 'type_field' |trans }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {%set i=1%}
    {% for periferico in perifericos %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ periferico.nombre }}</td>
            <td>{{ ('peripheral_type_'~periferico.tipo) | trans}}</td>
            <td>
                <ul class="nav nav-pills" >
                    <li class="nav-item m-tabs__item">
                        <a class="btn btn-sm btn-default text-uppercase edicion" data-href="{{ path('periferico_show', { 'id': periferico.id }) }}">
                            <i class="flaticon-eye"></i>{{ 'visualize' |trans }}
                        </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="btn btn-sm btn-info text-uppercase edicion" data-href="{{ path('periferico_edit', { 'id': periferico.id }) }}">
                            <i class="flaticon-edit-1"></i>{{ 'edit' |trans }}
                        </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="btn btn-sm btn-danger text-uppercase eliminar_periferico" data-href="{{ path('periferico_delete', { 'id': periferico.id }) }}">
                            <i class="flaticon-delete-1"></i>{{ 'delete' |trans }}
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        {%set i=1+i%}
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>{{ 'row_number' | trans }}</th>
        <th>{{ 'name_field' |trans }}</th>
        <th>{{ 'type_field' |trans }}</th>
        <th></th>
    </tr>
    </tfoot>
</table>
