{{ form_start(form,{'attr':{
    'id': form_id|default('reservacionpc_new')
}}) }}
<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            {{form_row(form.laboratorio)}}
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-sm btn-metal" data-dismiss="modal">{{ 'cancel_button'|trans }}</a>
    <button class="btn btn-sm btn-primary  mt-ladda-btn ladda-button" data-style="expand-right" type="submit">{{ action |default('save_button')|trans }}</button>
</div>
{{ form_end(form) }}



