<li class="m-menu__item m-menu__item--submenu m-menu__item--rel"
        m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true"><a href="javascript:;"
                                                                                       class="m-menu__link m-menu__toggle"><i
                    class="m-menu__link-icon flaticon-cogwheel"></i><span class="m-menu__link-title"> <span
                        class="m-menu__link-wrap"> <span class="m-menu__link-text text-white">{{ 'manage' | trans }}</span> <span
                            class="m-menu__link-badge"></span>
												</span></span><i class="m-menu__hor-arrow la la-angle-down"></i><i
                    class="m-menu__ver-arrow la la-angle-right"></i></a>
        <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
            <ul class="m-menu__subnav">
                {% if is_granted("ROLE_ADMIN") %}
                    <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a
                                href="{{ path('facultad_index') }}" class="m-menu__link "><i
                                    class="m-menu__link-icon flaticon-share"></i><span
                                    class="m-menu__link-text">{{ 'faculty' | trans }}</span></a></li>
                    <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a
                                href="{{ path('usuario_index') }}" class="m-menu__link "><i
                                    class="m-menu__link-icon flaticon-info"></i><span
                                    class="m-menu__link-text">{{ 'user' | trans }}</span></a></li>
                {% endif %}

                {% if is_granted("ROLE_TECNICO") %}
                <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a
                            href="{{ path('laboratorio_index') }}" class="m-menu__link "><i
                                class="m-menu__link-icon flaticon-business"></i><span
                                class="m-menu__link-text">{{ 'laboratory' | trans }}</span></a>
                </li>
                {% endif %}
                {% if is_granted("ROLE_JEFETECNICOINSTITUCIONAL") %}
                    <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a
                                href="{{ path('propiedad_index') }}" class="m-menu__link "><i
                                    class="m-menu__link-icon flaticon-map"></i><span
                                    class="m-menu__link-text">{{ 'property' | trans }}</span></a></li>
                    <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a
                                href="{{ path('periferico_index') }}" class="m-menu__link "><i
                                    class="m-menu__link-icon flaticon-map"></i><span
                                    class="m-menu__link-text">{{ 'peripheral' | trans }}</span></a></li>
                    <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a
                                href="{{ path('pieza_index') }}" class="m-menu__link "><i
                                    class="m-menu__link-icon flaticon-map"></i><span
                                    class="m-menu__link-text">{{ 'piece' | trans }}</span></a></li>
                    <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true"><a
                                href="{{ path('tiporeparacion_index') }}" class="m-menu__link "><i
                                    class="m-menu__link-icon flaticon-map"></i><span
                                    class="m-menu__link-text">{{ 'typeofrepair' | trans }}</span></a></li>
                {% endif %}
            </ul>
        </div>
    </li>
