<li class="m-menu__item m-menu__item--submenu m-menu__item--rel"
    m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true"><a href="javascript:;"
                                                                                   class="m-menu__link m-menu__toggle"><i
                class="m-menu__link-icon flaticon-diagram"></i><span class="m-menu__link-title"> <span
                    class="m-menu__link-wrap"> <span
                        class="m-menu__link-text  text-white">{{ 'statics'| trans }}</span> <span
                        class="m-menu__link-badge"></span>
												</span></span><i class="m-menu__hor-arrow la la-angle-down"></i><i
                class="m-menu__ver-arrow la la-angle-right"></i></a>
    <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
        <ul class="m-menu__subnav">
            <li class="m-menu__item m-menu__item--submenu m-menu__item--rel">
                <a id="reportefacultad_link" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-pie-chart"></i><span
                            class="m-menu__link-text">{{ 'report_reservationbyfaculty'| trans }}</span>
                </a>
            </li>
            <li class="m-menu__item m-menu__item--submenu m-menu__item--rel">
                <a id="reportelaboratorio_link" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-diagram"></i><span
                            class="m-menu__link-text">{{ 'report_reservationbylaboratory'| trans }}</span>
                </a>
            </li>
            <li class="m-menu__item m-menu__item--submenu m-menu__item--rel">
                <a id="reportetiempomaquinafacultad_link" class="m-menu__link" >
                    <i class="m-menu__link-icon flaticon-pie-chart"></i><span
                            class="m-menu__link-text">{{ 'report_machinetimebyfaculty'| trans }}</span>
                </a>
            </li>
            <li class="m-menu__item m-menu__item--submenu m-menu__item--rel">
                <a id="reportetiempomaquinalaboratorio_link" class="m-menu__link">
                    <i class="m-menu__link-icon flaticon-diagram"></i><span
                            class="m-menu__link-text">{{ 'report_machinetimebylaboratory'| trans }}</span>
                </a>
            </li>
        </ul>
    </div>
</li>
