<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" m-menu-submenu-toggle="click" aria-haspopup="true">
    <a href="javascript:;" class="m-menu__link m-menu__toggle header">
        <span class="m-menu__item-here"></span>
        <i class="m-menu__link-icon flaticon-dashboard"></i>
        <span class="m-menu__link-text">
														Nomencladores
													</span>
        <i class="m-menu__hor-arrow la la-angle-down"></i>
        <i class="m-menu__ver-arrow la la-angle-right"></i>
    </a>
    <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">

        <span class="m-menu__arrow m-menu__arrow--adjust"></span>
        <ul class="m-menu__subnav">
            <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                <a href="{{ path('usuario_index') }}" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    <span class="m-menu__link-text">
																				Administradores
																			</span>
                </a>
            </li>
            <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                <a href="{{ path('autor_indexall') }}" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    <span class="m-menu__link-text">
																				Usuarios
																			</span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" m-menu-submenu-toggle="hover" m-menu-link-redirect="1"
                aria-haspopup="true">
                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-cogwheel-1"></i>
                    <span class="m-menu__link-text">
																	General
																</span>
                    <i class="m-menu__hor-arrow la la-angle-right"></i>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                    <span class="m-menu__arrow "></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                            <a href="{{ path('pais_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				País
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                            <a href="{{ path('ministerio_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Ministerio
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                            <a href="{{ path('institucion_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Institución
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                            <a href="{{ path('area_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Área
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                            <a href="{{ path('grado_cientifico_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Grado científico
																			</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" m-menu-submenu-toggle="hover" m-menu-link-redirect="1"
                aria-haspopup="true">
                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-file-1"></i>
                    <span class="m-menu__link-text">
																	Tesis
																</span>
                    <i class="m-menu__hor-arrow la la-angle-right"></i>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                    <span class="m-menu__arrow "></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                            <a href="{{ path('clasificacion_tipotesis_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Clasificación de tipo de tesis
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                            <a href="{{ path('tipo_tesis_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Tipo de tesis
																			</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" m-menu-submenu-toggle="hover" m-menu-link-redirect="1"
                aria-haspopup="true">
                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-laptop"></i>
                    <span class="m-menu__link-text">
																	Software
																</span>
                    <i class="m-menu__hor-arrow la la-angle-right"></i>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                    <span class="m-menu__arrow "></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                            <a href="{{ path('clasificacion_tiposoftware_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Clasificación de tipo de software
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                            <a href="{{ path('tipo_software_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Tipo de software
																			</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu" m-menu-submenu-toggle="hover" m-menu-link-redirect="1"
                aria-haspopup="true">
                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-information"></i>
                    <span class="m-menu__link-text">
																	Artículos y premios
																</span>
                    <i class="m-menu__hor-arrow la la-angle-right"></i>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                    <span class="m-menu__arrow "></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                            <a href="{{ path('tipo_articulo_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Tipo de artículo
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                            <a href="{{ path('grupo_articulo_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Grupo de artículo
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                            <a href="{{ path('tipo_encuentro_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Tipo de encuentro
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                            <a href="{{ path('tipo_norma_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Tipo de norma
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item " m-menu-link-redirect="1" aria-haspopup="true">
                            <a href="{{ path('tipo_premio_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Tipo de premio
																			</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</li>