<table class="table table-hover" id="propiedadtable">
    <thead>
    <tr>
        <th>{{ 'row_number' | trans }}</th>
        <th>{{ 'name_field' |trans }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {%set i=1%}
    {% for propiedad in propiedades %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ propiedad.nombre }}</td>
            <td>
                <ul class="nav nav-pills" >
                    <li class="nav-item m-tabs__item">
                        <a class="btn btn-sm btn-info edicion" data-href="{{ path('propiedad_edit', { 'id': propiedad.id }) }}">
                            <i class="flaticon-edit-1"></i>{{ 'edit' |trans }}
                        </a>
                    </li>
                    <li class="nav-item m-tabs__item">
                        <a class="btn btn-sm btn-danger eliminar_propiedad" data-href="{{ path('propiedad_delete', { 'id': propiedad.id }) }}">
                            <i class="flaticon-delete-1"></i>{{ 'delete' |trans }}
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        {%set i=1+i%}
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>{{ 'row_number' | trans }}</th>
        <th>{{ 'name_field' |trans }}</th>
        <th></th>
    </tr>
    </tfoot>
</table>
