{% extends "layout/base.html.twig" %}
{% block subheader %}
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">
                    {% block page_title %}{% endblock page_title %}
                </h3>
            </div>
            <div>
                {% block rightoptions_block %}{% endblock rightoptions_block %}
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css"
          href="{{ asset('vendors/custom/datatables/datatables.bundle.css','template') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ asset('vendors/custom/fullcalendar/fullcalendar.bundle.css','template') }}"/>
{% endblock %}
{% block header %}
    {% embed "layout/recortes/header.html.twig" %}
        {% block top_menu %}
            {% if is_granted("ROLE_TECNICO") or is_granted("ROLE_ADMIN")%}
                {{ include('layout/recortes/topmenu/admin_topmenu.html.twig') }}
            {% endif %}
            {% if is_granted("ROLE_PROFESOR") or is_granted("ROLE_ESTUDIANTE") or is_granted("ROLE_TECNICO") %}
            {{ include('layout/recortes/topmenu/reservations_topmenu.html.twig') }}
            {% endif %}
            {{ include('layout/recortes/topmenu/reporte_topmenu.html.twig') }}
            {% if is_granted('ROLE_TECNICO') %}
                {{ include('layout/recortes/topmenu/tiempomaquina_topmenu.html.twig') }}
            {% endif %}
        {% endblock top_menu %}
        {% block user_shortcut_menu %}
            {{ include('layout/recortes/topmenu/search_topmenu.html.twig') }}
            {{ include('layout/recortes/topmenu/notification_topmenu.html.twig') }}
            {{ include('layout/recortes/topmenu/message_topmenu.html.twig') }}
            {{ include('layout/recortes/topmenu/language_topmenu.html.twig') }}
            {{ include('layout/recortes/topmenu/user_topmenu.html.twig') }}
        {% endblock %}
    {% endembed %}
{% endblock header %}


{% block javascripts %}
    {{ parent() }}
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-bottom-left",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    </script>
    <script type="text/javascript"
            src="{{ asset('vendors/custom/datatables/datatables.bundle.js','template') }}"></script>
    <script type="text/javascript"
            src="{{ asset('vendors/custom/fullcalendar/fullcalendar.bundle.js','template') }}"></script>
    <script type="text/javascript" src="{{ asset('plugins/bootbox/bootbox.min.js','milab') }}"></script>
    <script src="{{ asset('scripts/interface/authenticated.js','milab') }}"></script>
    <!--IMPORTANDO LAS LIBRERIAS DE AMCHART-->
    <script src="{{ asset('assets/milab/plugins/amcharts4/core.js') }}"></script>
    <script src="{{ asset('assets/milab/plugins/amcharts4/charts.js') }}"></script>
    <script src="{{ asset('assets/milab/plugins/amcharts4/themes/animated.js') }}"></script>
    <!--FIN DE IMPORTANDO LAS LIBRERIAS DE AMCHART-->
    <script>
        authenticated.init();
    </script>
    {% include 'reporte/script.js.twig' %}
    <script>
        reporte.init();
    </script>
{% endblock %}
